#revenue{
  margin-left: 10px;
  top: 555px;
  left: 264px;
  width: 211px;
  height: 50px;
  color: var(--unnamed-color-06283d);
  margin-top: 25px;
  margin-left: 40px;
  text-align: left;
  font: normal normal bold 24px/29px Inter;
  letter-spacing: 0.38px;
  color: #06283D;
  opacity: 1;
}

#head-content-foot{
  margin-left: 10px ;
  width: 1490px;
  height: 400px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  opacity: 1;
}

/* #imgg{
  justify-content: space-evenly;
} */

#num{
  font: normal normal bold 24px/29px Inter;
  letter-spacing: 0.38px;
  color: #06283D;
  opacity: 1;
  margin-left: 40px;
}

#dep{
color: var(--unnamed-color-858585);
font: normal normal normal 16px/20px Inter;
letter-spacing: 0.32px;
color: #858585;
margin-left: 40px;
opacity: 1;
}

#inc{
font-size: medium;
background: #C0FFDB 0% 0% no-repeat padding-box;
border: 1px solid #00B94F;
border-radius: 40px;
opacity: 1;
}

#graph1{
  margin-left: 100px;
  width: 250px;
height: 250px;
}

#graph2{
  margin-left: 700px;
  width: 250px;
 height: 250px;
}
