.login{
  height: calc(100vh - 50px);
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
    background-color: rgba(255,255,255,0.5);
  background: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
  background-size: cover;
}

.loginTitle{
  font-size: 50px;
}

.loginForm{
  margin-top: 20px;
  /* display: flex; */
}

.loginForm > label{
  margin: 10px 0;
}

.loginInput{
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton{
 margin-top: 20px;
 cursor: pointer;
 background-color: lightcoral;
 border: none;
 color: white;
 border-radius: 10px;
 padding: 10px;
}

.loginRegisterButton{
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}