#main{
  height:1000px;
}
#div-content2{
  text-align: center;
  margin-top: 20px;
  margin-left: 350px;
	width: 50%;
	height: 250px;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}